.titulo {
  font-size: xx-large;
  margin-top: 40px;
  text-align: center;
}

.sub-titulo {
  margin-top: 40px;
  margin-left: 30px;
}

.card {
  background-color: var(--ion-background-color-step-50); // Color de fondo de las tarjetas
  margin: 20px;
  border-radius: 10px;
  padding: 15px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: x-large;
  display: flex;
  justify-content: space-between; // Espaciar el texto y los botones
}

.text-ellipsis {
  white-space: nowrap; // Evitar que el texto se rompa en varias líneas
  overflow: hidden; // Ocultar el texto que se desborda
  text-overflow: ellipsis; // Mostrar puntos suspensivos para indicar texto oculto
}

.buttons {
  margin-left: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column; // Alinear los botones verticalmente (aunque solo hay uno actualmente)
}

.button {
  display: flex;
  justify-content: center;
}

.time-picker-wrapper {
  display: flex;
  align-items: center;
  justify-content: center; // Centrar los selectores de tiempo
}

.separator {
  font-size: 35px;
  color: var(--ion-color-medium); // Color del separador ":"
  margin-top: 0px;
  font-weight: 600;
}

.time-display {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  color: var(--ion-color-dark);
  margin-top: 24px;
}

.modal {
  --height: auto; // Ajustar la altura del modal al contenido
  align-items: end; // Mostrar el modal desde la parte inferior
}

/* Animación de latido para la alarma */
@keyframes latido {
  0% {
    transform: scale(0.9);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.9);
  }
}

.alarma-pulso {
  animation: latido 1s infinite; // Aplicar la animación al fondo de la alarma
}